@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground, #171717);
  background: var(--background, #ffffff);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

[data-theme='dark'] {
  --background: #121212;
  --foreground: #ededed;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
